body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.inbox {
  margin: 0 36px;
  padding: 0 60px;
}

.subTitle {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 30px;
}
.title .bold {
  font-weight: bold;
}
.moreBtn {
  font-size: 14px;
  border: none;
  background-color: inherit;
  color: #787878;
}

.moreBtn:hover {
  color: #ffcd32;
}

.products {
  padding: 40px 0 120px;
}

.event_class {
  width: 50%;
  height: 360px;
  background-image: url('https://kukka-2-media-123.s3.amazonaws.com/media/class-name/ContentsTopBanner/3/class_2022_home_web_R0tReO1.jpeg');
}
