.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.inbox {
  width: 1240px;
  margin: 0 36px;
  padding: 90px 60px;
}

.subTitle {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 30px;
}

.title .bold {
  font-weight: bold;
}

.moreBtn {
  font-size: 14px;
  border: none;
  background-color: inherit;
  color: #787878;
  cursor: pointer;
}

.moreBtn:hover {
  color: #ffcd32;
}

.products {
  padding: 40px 0 120px;
  display: flex;
  justify-content: space-between;
}

.subject {
  font-size: 18px;
  margin-bottom: 15px;
}

.subject_bold {
  font-size: 25px;
  font-weight: bold;
}

.subject_bold::after {
  content: '>';
}

.event_class {
  width: 50%;
  height: 395px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  background-image: url('https://kukka-2-media-123.s3.amazonaws.com/media/class-name/ContentsTopBanner/3/class_2022_home_web_R0tReO1.jpeg');
}

.classes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.class_info {
  display: flex;
  flex-direction: row;
}

.class_img {
  width: 245px;
  height: 168px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.class_img > img {
  object-fit: cover;
  width: 245px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.class_img > img:hover {
  width: 270px;
}

.class_right {
  width: 315px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.class_name {
  font-size: 16px;
  font-weight: 500;
}

.class_price {
  font-size: 14px;
  margin: 15px 0;
}

.tag {
  font-size: 10px;
  border: 1px solid rgb(40, 40, 40);
  border-radius: 15px;
  padding: 4px 8px;
  margin: 3px 0;
  display: inline-block;
  cursor: pointer;
}

.tag:hover {
  text-decoration: underline;
}

.purple {
  border-color: #a27fde;
  color: #a27fde;
}

.green {
  border-color: #46cfa7;
  color: #46cfa7;
}

.orange {
  border-color: #ffa04d;
  color: #ffa04d;
}

.blue {
  border-color: #68a4fe;
  color: #68a4fe;
}

.yellow {
  border-color: #ffcd32;
  color: #ffcd32;
}

.sky {
  border-color: #00afe3;
  color: #00afe3;
}

.line {
  border-bottom: 1px solid lightgray;
}
